:root {
  --cmi-size: 18px;
  --cmi-activity: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/activity.svg);
  --cmi-addfriend: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/add_friend.svg);
  --cmi-addimage: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/add_image.svg);
  --cmi-addlabel: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/label_add.svg);
  --cmi-addnote: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/add_note.svg);
  --cmi-addreaction: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/add_reaction.svg);
  --cmi-applynewguildsettings: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/apply_new_guild_settings.svg);
  --cmi-apps: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/apps.svg);
  --cmi-ban: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/ban.svg);
  --cmi-block: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/block.svg);
  --cmi-call: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/call.svg);
  --cmi-clock1: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/clock_loader_10.svg);
  --cmi-clock2: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/clock_loader_20.svg);
  --cmi-clock3: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/clock_loader_40.svg);
  --cmi-clock4: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/clock_loader_60.svg);
  --cmi-clock5: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/clock_loader_90.svg);
  --cmi-close: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/close.svg);
  --cmi-code: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/code.svg);
  --cmi-codeoff: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/code_off.svg);
  --cmi-collapsecategories: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/collapse.svg);
  --cmi-collapseallcategories: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/collapse_all.svg);
  --cmi-copy: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/copy.svg);
  --cmi-createcategory: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/new_category.svg);
  --cmi-createchannel: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/add_square.svg);
  --cmi-createevent: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/create_event.svg);
  --cmi-createserver: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/add_diamond.svg);
  --cmi-createtextchannel: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/create_text_channel.svg);
  --cmi-createthread: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/create_thread.svg);
  --cmi-createvoicechannel: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/create_voice_channel.svg);
  --cmi-mediaoutput: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/media_output.svg);
  --cmi-default: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/help.svg);
  --cmi-delete: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/delete.svg);
  --cmi-disablevideo: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/disable_video.svg);
  --cmi-duplicate: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/add.svg);
  --cmi-edit: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/edit.svg);
  --cmi-editchannel: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/edit_box.svg);
  --cmi-editprofile: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/edit_profile.svg);
  --cmi-edittext: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/edit_text.svg);
  --cmi-eventoff: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/calendar_off.svg);
  --cmi-favorite: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/favorite.svg);
  --cmi-favorited: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/favorite_filled.svg);
  --cmi-favoriteadd: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/heart_plus.svg);
  --cmi-favoriteremove: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/heart_broken.svg);
  --cmi-forever: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/all_inclusive.svg);
  --cmi-hideimage: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/hide_image.svg);
  --cmi-hidemutedchannels: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/hide_muted_channels.svg);
  --cmi-hidenames: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/hide_names.svg);
  --cmi-image: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/icon.svg);
  --cmi-invitepeople: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/group_add.svg);
  --cmi-joinaserver: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/join.svg);
  --cmi-removepeople: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/group_remove.svg);
  --cmi-labeledit: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/label_edit.svg);
  --cmi-leave: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/leave.svg);
  --cmi-listenalong: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/listen.svg);
  --cmi-lock: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/lock.svg);
  --cmi-markasread: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/mark_as_read.svg);
  --cmi-markasunread: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/mark_as_unread.svg);
  --cmi-mediaoutputoff: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/media_output_off.svg);
  --cmi-mention: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/mention.svg);
  --cmi-microphoneoff: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/mic_off.svg);
  --cmi-move: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/move.svg);
  --cmi-modview: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/shield_person.svg);
  --cmi-mutesound: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/unmuted.svg);
  --cmi-microphone: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/mic.svg);
  --cmi-notificationsall: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/notifications_all.svg);
  --cmi-notificationsdefault: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/notifications.svg);
  --cmi-notificationsimportant: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/notifications_important.svg);
  --cmi-notificationsmentions: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/notifications_at.svg);
  --cmi-notificationsoff: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/notifications_off.svg);
  --cmi-notificationsettings: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/notifications_settings.svg);
  --cmi-openchat: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/open_chat.svg);
  --cmi-openinnew: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/open_in_new.svg);
  --cmi-owner: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/shield_person_alt.svg);
  --cmi-permissions: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/permissions.svg);
  --cmi-pinmessage: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/pin.svg);
  --cmi-phone: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/phone.svg);
  --cmi-poll: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/poll.svg);
  --cmi-privacysettings: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/privacy.svg);
  --cmi-profile: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/profile.svg);
  --cmi-pushtotalk: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/select_to_speak.svg);
  --cmi-reaction: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/reaction.svg);
  --cmi-refresh: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/refresh.svg);
  --cmi-remove: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/remove.svg);
  --cmi-removefriend: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/remove_friend.svg);
  --cmi-reply: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/reply.svg);
  --cmi-report: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/report.svg);
  --cmi-serverboost: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/boost.svg);
  --cmi-serverinfo: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/info.svg);
  --cmi-serversettings: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/settings.svg);
  --cmi-soundboard: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/sound.svg);
  --cmi-soundboardoff: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/no_sound.svg);
  --cmi-soundoff: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/muted.svg);
  --cmi-spotify: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/spotify.svg);
  --cmi-texttospeech: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/text_to_speech.svg);
  --cmi-thread: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/thread.svg);
  --cmi-timeout: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/hourglass_disabled.svg);
  --cmi-uploadfile: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/upload_file.svg);
  --cmi-video: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/video.svg);
  --cmi-viewreviews: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/reviews.svg);
  --cmi-voice: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/voice.svg);
  --cmi-voicesettings: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/settings_voice.svg);
  --cmi-widgets: url(https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/svg/widgets.svg);
}

.menu_d90b3d:is(
    [aria-label="Message Actions"],
    :has(.item_d90b3d:is([id^="guild-header-popout"]))
  )
  .item_d90b3d:not(
    [id$="hide-muted-channels"],
    [id$="reviews"],
    [id*="devmode-copy-id"]
  )
  .iconContainer_d90b3d:not(:has(.caret_d90b3d)),
.menu_d90b3d
  .item_d90b3d:is(
    [id="message-add-reaction"],
    [id="user-context-apps"],
    [id="user-context-roles"],
    [id="message-apps"],
    [id="message-remove-emoji-reactions"],
    [id="status-status-picker"],
    [id="account-switch-account"]
  )
  ~ .layer_cd0de5
  .item_d90b3d::before,
.menu_d90b3d:is([aria-label="Status Actions"], [aria-label="Account Actions"])
  .item_d90b3d::before,
.menu_d90b3d[id="channel-attach"] .optionIcon_ec5137 {
  display: none;
}

.menu_d90b3d .item_d90b3d {
  display: flex;
  align-items: center;
}

.menu_d90b3d[id="channel-attach"] .optionName_ec5137 {
  margin: 0;
}

.menu_d90b3d
  .item_d90b3d:is(
    [id="user-context-user-volume"],
    [id="audio-device-context-output"],
    [id="audio-device-context-input"]
  ) {
  flex-wrap: wrap;
  padding: 6px 8px;
}

.menu_d90b3d
  .item_d90b3d:is(
    [id="user-context-user-volume"],
    [id="audio-device-context-output"],
    [id="audio-device-context-input"],
    [id="gdm-context-change-icon"]
  )
  .labelContainer_d90b3d {
  padding: 0;
}

.menu_d90b3d
  .item_d90b3d:is(
    [id="user-context-user-volume"],
    [id="audio-device-context-output"],
    [id="audio-device-context-input"]
  )
  .sliderContainer_e13f88 {
  width: 100%;
  padding: 0;
}

.menu_d90b3d .item_d90b3d[id="gdm-context-change-icon"] {
  padding: 6px 8px;
  min-height: 32px;
}

.menu_d90b3d .item_d90b3d[id="gdm-context-change-icon"] .labelContainer_d90b3d {
  min-height: 0;
}

.menu_d90b3d .item_d90b3d::before {
  content: "";
  flex: 0 0 auto;
  width: var(--cmi-size);
  height: var(--cmi-size);
  margin-right: calc(var(--cmi-size) / 1.5);
  background: currentColor;
  z-index: 2;
  mask: var(--cmi-default) center/contain no-repeat;
}

.menu_d90b3d[id="vc-toolbox"] {
  & .item_d90b3d[id="vc-toolbox-vc-toolbox-notifications"]::before {
    mask: var(--cmi-notificationsimportant) center/contain no-repeat !important;
  }

  &
    .item_d90b3d[id="vc-toolbox-vc-toolbox-quickcss-toggle"][aria-checked="true"]::before {
    mask: var(--cmi-code) center/contain no-repeat !important;
  }

  &
    .item_d90b3d[id="vc-toolbox-vc-toolbox-quickcss-toggle"][aria-checked="false"]::before {
    mask: var(--cmi-codeoff) center/contain no-repeat !important;
  }

  & .item_d90b3d[id="vc-toolbox-vc-toolbox-quickcss"]::before {
    mask: var(--cmi-edittext) center/contain no-repeat !important;
  }

  & .item_d90b3d[id="vc-toolbox-vc-toolbox-BadgeAPI-Refetch Badges"]::before {
    mask: var(--cmi-refresh) center/contain no-repeat !important;
  }
}

.menu_d90b3d[aria-label="Server Actions"] {
  & .item_d90b3d[id$="read"]::before {
    mask: var(--cmi-markasread) center/contain no-repeat !important;
  }

  & .item_d90b3d[id="guild-header-popout-premium-subscribe"]::before {
    mask: var(--cmi-serverboost) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="invite-people"]::before {
    mask: var(--cmi-invitepeople) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="active-threads"]::before {
    mask: var(--cmi-thread) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="application-directory"]::before {
    mask: var(--cmi-apps) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="mute-guild"]::before {
    mask: var(--cmi-mutesound) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="unmute-guild"]::before {
    mask: var(--cmi-soundoff) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="notifications"]::before {
    mask: var(--cmi-notificationsettings) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="hide-muted-channels"]::before {
    mask: var(--cmi-hidemutedchannels) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="settings"]::before {
    mask: var(--cmi-serversettings) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="privacy"]::before {
    mask: var(--cmi-privacysettings) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="change-nickname"]::before {
    mask: var(--cmi-editprofile) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="vc-newguildsettings-apply"]::before {
    mask: var(--cmi-applynewguildsettings) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="perm-viewer-permissions"]::before {
    mask: var(--cmi-permissions) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="vc-server-info"]::before {
    mask: var(--cmi-serverinfo) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="create-channel"]::before {
    mask: var(--cmi-createchannel) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="create-category"]::before {
    mask: var(--cmi-createcategory) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="create-event"]::before {
    mask: var(--cmi-createevent) center/contain no-repeat !important;
  }

  & .item_d90b3d[id*="leave"]::before {
    mask: var(--cmi-leave) center/contain no-repeat !important;
  }

  & .item_d90b3d[id*="devmode-copy-id"]::before {
    mask: var(--cmi-copy) center/contain no-repeat;
  }

  & .item_d90b3d[id$="view-icon"]::before {
    mask: var(--cmi-image) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="vc-rdb-server-reviews"]::before {
    mask: var(--cmi-viewreviews) center/contain no-repeat !important;
  }

  & .item_d90b3d[id="guild-context-join"]::before {
    mask: var(--cmi-joinaserver) center/contain no-repeat;
  }

  & .item_d90b3d[id="guild-context-create"]::before {
    mask: var(--cmi-createserver) center/contain no-repeat;
  }
}

.menu_d90b3d[aria-label="Channel Actions"] {
  & .item_d90b3d[id$="-context-mark-channel-read"]::before {
    mask: var(--cmi-markasread) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-context-instant-invites"]::before {
    mask: var(--cmi-invitepeople) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-context-change-icon"]::before {
    mask: var(--cmi-addimage) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-context-remove-icon"]::before {
    mask: var(--cmi-hideimage) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-invite-people"]::before {
    mask: var(--cmi-invitepeople) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-channel-copy-link"]::before {
    mask: var(--cmi-copy) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-open-chat"]::before {
    mask: var(--cmi-openchat) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-set-status"]::before {
    mask: var(--cmi-labeledit) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-hide-voice-names"]::before {
    mask: var(--cmi-hidenames) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-collapse-category"]::before {
    mask: var(--cmi-collapsecategories) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-collapse-all-categories"]::before {
    mask: var(--cmi-collapseallcategories) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-context-mute-channel"]::before {
    mask: var(--cmi-mutesound) center/contain no-repeat;
  }

  & .item_d90b3d[id$="context-unmute-channel"]::before {
    mask: var(--cmi-soundoff) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-channel-notifications"]::before {
    mask: var(--cmi-notificationsettings) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-3"]::before {
    mask: var(--cmi-notificationsdefault) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-0"]::before {
    mask: var(--cmi-notificationsall) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-1"]::before {
    mask: var(--cmi-notificationsmentions) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-2"]::before {
    mask: var(--cmi-notificationsoff) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-perm-viewer-permissions"]::before {
    mask: var(--cmi-permissions) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-copy-channel-topic"]::before {
    mask: var(--cmi-copy) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-edit-channel"]::before {
    mask: var(--cmi-editchannel) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-clone-channel"]::before {
    mask: var(--cmi-duplicate) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-create-text-channel"]::before {
    mask: var(--cmi-createtextchannel) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-create-voice-channel"]::before {
    mask: var(--cmi-createvoicechannel) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-context-delete-channel"]::before {
    mask: var(--cmi-delete) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-context-leave-channel"]::before {
    mask: var(--cmi-leave) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-context-view-group-channel-icon"]::before {
    mask: var(--cmi-image) center/contain no-repeat;
  }

  & .item_d90b3d[id*="devmode-copy-id"]::before {
    mask: var(--cmi-copy) center/contain no-repeat;
  }

  /* upload */

  & .item_d90b3d[id="channel-attach-upload-file"]::before {
    mask: var(--cmi-uploadfile) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-attach-THREAD"]::before {
    mask: var(--cmi-createthread) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-attach-poll"]::before {
    mask: var(--cmi-poll) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-attach-SLASH_COMMAND"]::before {
    mask: var(--cmi-widgets) center/contain no-repeat;
  }

  & .item_d90b3d[id="channel-attach-activity"]::before {
    mask: var(--cmi-activity) center/contain no-repeat;
  }
}

.menu_d90b3d[aria-label="Thread Actions"] {
  & .item_d90b3d[id="thread-context-mark-channel-read"]::before {
    mask: var(--cmi-markasread) center/contain no-repeat;
  }

  & .item_d90b3d[id="thread-context-leave-thread"]::before {
    mask: var(--cmi-leave) center/contain no-repeat;
  }

  & .item_d90b3d[id="thread-context-archive-thread"]::before {
    mask: var(--cmi-close) center/contain no-repeat;
  }

  & .item_d90b3d[id="thread-context-lock-thread"]::before {
    mask: var(--cmi-lock) center/contain no-repeat;
  }

  & .item_d90b3d[id="thread-context-edit-thread"]::before {
    mask: var(--cmi-editchannel) center/contain no-repeat;
  }

  & .item_d90b3d[id="thread-context-channel-copy-link"]::before {
    mask: var(--cmi-copy) center/contain no-repeat;
  }

  & .item_d90b3d[id="thread-context-mute-channel"]::before {
    mask: var(--cmi-mutesound) center/contain no-repeat;
  }

  & .item_d90b3d[id="thread-context-thread-notifications"]::before {
    mask: var(--cmi-notificationsettings) center/contain no-repeat;
  }

  & .item_d90b3d[id="thread-context-delete-channel"]::before {
    mask: var(--cmi-delete) center/contain no-repeat;
  }

  & .item_d90b3d[id*="devmode-copy-id"]::before {
    mask: var(--cmi-copy) center/contain no-repeat;
  }
}

.menu_d90b3d[aria-label="User Settings Actions"] {
  & .item_d90b3d[id="user-context-mark-channel-read"]::before {
    mask: var(--cmi-markasread) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-user-profile"]::before {
    mask: var(--cmi-profile) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-mention"]::before {
    mask: var(--cmi-mention) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-message-user"]::before {
    mask: var(--cmi-openchat) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-call"]::before {
    mask: var(--cmi-call) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-note"]::before {
    mask: var(--cmi-addnote) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-user-volume"]::before {
    mask: var(--cmi-mutesound) center/contain no-repeat;
  }

  &
    .item_d90b3d[id="user-context-user-volume"]:has(
      .slider_e13f88[aria-valuenow="0"]
    )::before {
    mask: var(--cmi-soundoff) center/contain no-repeat !important;
  }

  &
    div[role="group"]:has(
      ~ div[role="group"]
        .item_d90b3d[id="user-context-mute"][aria-checked="true"]
    )
    .item_d90b3d[id="user-context-user-volume"]::before {
    mask: var(--cmi-soundoff) center/contain no-repeat;
  }

  & .item_d90b3d[id|="user-context-spotify-play"]::before {
    mask: var(--cmi-spotify) center/contain no-repeat;
  }

  & .item_d90b3d[id|="user-context-spotify-sync"]::before {
    mask: var(--cmi-listenalong) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-mute"][aria-checked="true"]::before {
    mask: var(--cmi-microphoneoff) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-mute"][aria-checked="false"]::before {
    mask: var(--cmi-microphone) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-deafen"][aria-checked="true"]::before {
    mask: var(--cmi-mediaoutputoff) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-deafen"][aria-checked="false"]::before {
    mask: var(--cmi-mediaoutput) center/contain no-repeat;
  }

  &
    .item_d90b3d[id="user-context-soundboard-sound-mute"][aria-checked="true"]::before {
    mask: var(--cmi-soundboardoff) center/contain no-repeat;
  }

  &
    .item_d90b3d[id="user-context-soundboard-sound-mute"][aria-checked="false"]::before {
    mask: var(--cmi-soundboard) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-disable-video"][aria-checked="true"]::before {
    mask: var(--cmi-disablevideo) center/contain no-repeat;
  }

  &
    .item_d90b3d[id="user-context-disable-video"][aria-checked="false"]::before {
    mask: var(--cmi-video) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-add-friend-nickname"]::before {
    mask: var(--cmi-addlabel) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-edit-friend-nickname"]::before {
    mask: var(--cmi-labeledit) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-change-nickname"]::before {
    mask: var(--cmi-labeledit) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-close-dm"]::before {
    mask: var(--cmi-close) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-make-dm-owner"]::before {
    mask: var(--cmi-owner) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-apps"]::before {
    mask: var(--cmi-apps) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-voice-mute"][aria-checked="false"]::before {
    mask: var(--cmi-microphone) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-voice-deafen"][aria-checked="false"]::before {
    mask: var(--cmi-mediaoutput) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-voice-mute"][aria-checked="true"]::before {
    mask: var(--cmi-microphoneoff) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-voice-deafen"][aria-checked="true"]::before {
    mask: var(--cmi-mediaoutputoff) center/contain no-repeat;
  }

  & .item_d90b3d[id*="user-context-invite-to-server"]::before {
    mask: var(--cmi-invitepeople) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-add-friend"]::before {
    mask: var(--cmi-addfriend) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-remove-friend"]::before {
    mask: var(--cmi-removefriend) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-block"]::before {
    mask: var(--cmi-block) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-mod-view"]::before {
    mask: var(--cmi-modview) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-timeout"]::before {
    mask: var(--cmi-timeout) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-remove"]::before {
    mask: var(--cmi-removepeople) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-kick"]::before {
    mask: var(--cmi-removepeople) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-ban"]::before {
    mask: var(--cmi-ban) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-roles"]::before {
    mask: var(--cmi-permissions) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-voice-move"]::before {
    mask: var(--cmi-move) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-perm-viewer-permissions"]::before {
    mask: var(--cmi-permissions) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-mute-channel"]::before {
    mask: var(--cmi-microphone) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-unmute-channel"]::before {
    mask: var(--cmi-microphoneoff) center/contain no-repeat;
  }

  & .item_d90b3d[id*="devmode-copy-id"]::before {
    mask: var(--cmi-copy) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-view-avatar"]::before {
    mask: var(--cmi-image) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-context-vc-rdb-user-reviews"]::before {
    mask: var(--cmi-viewreviews) center/contain no-repeat;
  }
}

.menu_d90b3d[aria-label="Profile actions"] {
  & .item_d90b3d[id="user-profile-overflow-menu-view-main-profile"]::before,
  .item_d90b3d[id="user-profile-overflow-menu-view-server-profile"]::before,
  .item_d90b3d[id="user-profile-overflow-menu-view-profile"]::before {
    mask: var(--cmi-profile) center/contain no-repeat;
  }

  & .item_d90b3d[id="edit-profile-popout-edit-server-profile"]::before,
  .item_d90b3d[id="edit-profile-popout-edit-main-profile"]::before {
    mask: var(--cmi-editprofile) center/contain no-repeat;
  }

  & .item_d90b3d[id|="user-profile-overflow-menu-invite-to-server"]::before {
    mask: var(--cmi-invitepeople) center/contain no-repeat;
  }

  & .item_d90b3d[id|="user-profile-overflow-menu-block"]::before {
    mask: var(--cmi-block) center/contain no-repeat;
  }

  & .item_d90b3d[id|="user-profile-overflow-menu-report-user"]::before {
    mask: var(--cmi-report) center/contain no-repeat;
  }

  & .item_d90b3d[id|="user-profile-overflow-menu-devmode-copy-id"]::before {
    mask: var(--cmi-copy) center/contain no-repeat;
  }

  & .item_d90b3d[id="user-profile-overflow-menu-vc-rdb-user-reviews"]::before {
    mask: var(--cmi-viewreviews) center/contain no-repeat;
  }
}

.menu_d90b3d[aria-label="Message Actions"] {
  & .item_d90b3d[id$="add-reaction"]::before {
    mask: var(--cmi-addreaction) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-reactions"]::before {
    mask: var(--cmi-reaction) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-edit"]::before {
    mask: var(--cmi-edit) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-pin"]::before {
    mask: var(--cmi-pinmessage) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-reply"]::before {
    mask: var(--cmi-reply) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-thread"]::before {
    mask: var(--cmi-thread) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-copy-text"]::before {
    mask: var(--cmi-copy) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-apps"]::before {
    mask: var(--cmi-apps) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-mark-unread"]::before {
    mask: var(--cmi-markasunread) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-copy-link"]::before {
    mask: var(--cmi-copy) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-tts"]::before {
    mask: var(--cmi-texttospeech) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-remove-emoji-reactions"]::before {
    mask: var(--cmi-remove) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-remove-reactions"]::before {
    mask: var(--cmi-remove) center/contain no-repeat;
  }

  &
    .item_d90b3d[id$="-unsuppress-embeds"]:has(
      path[d="m21 18.15-2-2V5H7.85l-2-2H19q.825 0 1.413.587Q21 4.175 21 5Zm-1.2 4.45L18.2 21H5q-.825 0-1.413-.587Q3 19.825 3 19V5.8L1.4 4.2l1.4-1.4 18.4 18.4ZM6 17l3-4 2.25 3 .825-1.1L5 7.825V19h11.175l-2-2Zm7.425-6.425ZM10.6 13.4Z"]
    )::before {
    mask: var(--cmi-hideimage) center/contain no-repeat;
  }

  &
    .item_d90b3d[id$="-unsuppress-embeds"]:has(
      path[d="M5 21q-.825 0-1.413-.587Q3 19.825 3 19V5q0-.825.587-1.413Q4.175 3 5 3h14q.825 0 1.413.587Q21 4.175 21 5v14q0 .825-.587 1.413Q19.825 21 19 21Zm0-2h14V5H5v14Zm1-2h12l-3.75-5-3 4L9 13Zm-1 2V5v14Z"]
    )::before {
    mask: var(--cmi-image) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-delete"]::before {
    mask: var(--cmi-delete) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-report"]::before {
    mask: var(--cmi-report) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-copy-native-link"]::before {
    mask: var(--cmi-copy) center/contain no-repeat;
  }

  & .item_d90b3d[id$="-open-native-link"]::before {
    mask: var(--cmi-openinnew) center/contain no-repeat;
  }

  & .item_d90b3d[id|="message-devmode-copy-id"]::before {
    mask: var(--cmi-copy) center/contain no-repeat;
  }
}

.menu_d90b3d[aria-label="Audio Device Actions"] {
  & .item_d90b3d[id|="audio-device-context-input"]::before {
    mask: var(--cmi-microphone) center/contain no-repeat;
  }

  &
    .item_d90b3d[id|="audio-device-context-input"]:has(
      .slider_e13f88[aria-valuenow="0"]
    )::before {
    mask: var(--cmi-microphoneoff) center/contain no-repeat;
  }

  & .item_d90b3d[id|="audio-device-context-output"]::before {
    mask: var(--cmi-mediaoutput) center/contain no-repeat;
  }

  &
    .item_d90b3d[id|="audio-device-context-output"]:has(
      .slider_e13f88[aria-valuenow="0"]
    )::before {
    mask: var(--cmi-mediaoutputoff) center/contain no-repeat;
  }

  & .item_d90b3d[id="audio-device-context-VOICE_ACTIVITY"]::before {
    mask: var(--cmi-voice) center/contain no-repeat;
  }

  & .item_d90b3d[id="audio-device-context-PUSH_TO_TALK"]::before {
    mask: var(--cmi-pushtotalk) center/contain no-repeat;
  }

  & .item_d90b3d[id="audio-device-context-voice-settings"]::before {
    mask: var(--cmi-voicesettings) center/contain no-repeat;
  }
}

.menu_d90b3d[aria-label="Expression Picker Actions"] {
  & .item_d90b3d[id="expression-picker-favorite"]::before {
    mask: var(--cmi-favoriteadd) center/contain no-repeat;
  }

  & .item_d90b3d[id="expression-picker-unfavorite"]::before {
    mask: var(--cmi-favorited) center/contain no-repeat;
  }

  & .item_d90b3d[id="expression-picker-unfavorite"]:hover::before {
    mask: var(--cmi-favoriteremove) center/contain no-repeat;
  }

  & .item_d90b3d[id="expression-picker-copy"]::before,
  .item_d90b3d[id|="expression-picker-devmode-copy-id"]::before {
    mask: var(--cmi-copy) center/contain no-repeat;
  }

  & .item_d90b3d[id="expression-picker-emote-cloner"]::before {
    mask: var(--cmi-duplicate) center/contain no-repeat;
  }
}

.submenu_d90b3d[aria-activedescendant*="notifications"] {
  & .item_d90b3d[id$="notifications--3"]::before {
    mask: var(--cmi-notificationsdefault) center/contain no-repeat;
  }

  & .item_d90b3d[id$="notifications--0"]::before,
  .item_d90b3d[id$="thread-notifications--2"]::before {
    mask: var(--cmi-notificationsall) center/contain no-repeat !important;
  }

  & .item_d90b3d[id$="notifications--1"]::before,
  .item_d90b3d[id$="thread-notifications--4"]::before {
    mask: var(--cmi-notificationsmentions) center/contain no-repeat;
  }

  & .item_d90b3d[id$="notifications--2"]::before,
  .item_d90b3d[id$="thread-notifications--8"]::before {
    mask: var(--cmi-notificationsoff) center/contain no-repeat;
  }

  & .item_d90b3d[id$="suppress-everyone"]::before {
    mask: var(--cmi-notificationsoff) center/contain no-repeat;
  }

  & .item_d90b3d[id$="suppress-roles"]::before {
    mask: var(--cmi-notificationsoff) center/contain no-repeat;
  }

  & .item_d90b3d[id$="suppress-highlights"]::before {
    mask: var(--cmi-notificationsoff) center/contain no-repeat;
  }

  & .item_d90b3d[id$="mute-events"]::before {
    mask: var(--cmi-eventoff) center/contain no-repeat;
  }

  & .item_d90b3d[id$="mobile-push"]::before {
    mask: var(--cmi-phone) center/contain no-repeat;
  }
}

.submenu_d90b3d[aria-activedescendant*="mute"] {
  & .item_d90b3d[id$="--900"]::before {
    mask: var(--cmi-clock1) center/contain no-repeat;
  }

  & .item_d90b3d[id$="--3600"]::before {
    mask: var(--cmi-clock2) center/contain no-repeat;
  }

  & .item_d90b3d[id$="--10800"]::before {
    mask: var(--cmi-clock3) center/contain no-repeat;
  }

  & .item_d90b3d[id$="--28800"]::before {
    mask: var(--cmi-clock4) center/contain no-repeat;
  }

  & .item_d90b3d[id$="--86400"]::before {
    mask: var(--cmi-clock5) center/contain no-repeat;
  }

  & .item_d90b3d[id$="---1"]::before {
    mask: var(--cmi-forever) center/contain no-repeat;
  }
}

.submenu_d90b3d[aria-activedescendant|="user-context-voice-move"] {
  & .item_d90b3d[id|="user-context-voice-move"]::before {
    mask: var(--cmi-mutesound) center/contain no-repeat;
  }
}

.menu_d90b3d[aria-label="Actions"] {
  & .item_d90b3d[id|="guild-discovery-context-menu-devmode-copy-id"]::before {
    mask: var(--cmi-copy) center/contain no-repeat;
  }
}

.submenu_d90b3d[aria-activedescendant|="guild-context-guild-settings"] {
  /*https://github.com/MiniDiscordThemes/SettingsIcons*/
  & .item_d90b3d[id$="OVERVIEW"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/overview.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--ROLES"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/roles.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--EMOJI"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/emoji.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--STICKERS"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/stickers.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--SOUNDBOARD"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/soundboard.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--WIDGET"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/widget.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--GUILD_TEMPLATES"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/guildtemplates.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--VANITY_URL"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/vanityurl.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--INTEGRATIONS"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/integrations.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--APP_DIRECTORY"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/appdirectory.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--MODERATION"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/moderation.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--GUILD_AUTOMOD"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/guildautomod.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--AUDIT_LOG"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/auditlog.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--BANS"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/bans.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--COMMUNITY"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/community.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--GUILD_PREMIUM"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/guildpremium.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--MEMBERS"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/members.svg)
      center/contain no-repeat;
  }

  & .item_d90b3d[id$="--INSTANT_INVITES"]::before {
    mask: url(https://minidiscordthemes.github.io/SettingsIcons/svg/instantinvites.svg)
      center/contain no-repeat;
  }
}
