/**
 * @name ContextMenuIcons
 * @description Adds icons to context menus.
 * @author 924e50c0
 * @version 1.1.0
 * @authorLink https://github.com/924e50c0
 * @website https://github.com/924e50c0/ContextMenuIcons
 * @source https://github.com/924e50c0/ContextMenuIcons/blob/main/ContextMenuIcons.theme.css
**/

@import url("https://raw.githubusercontent.com/924e50c0/ContextMenuIcons/main/ContextMenuIcons.css");

:root {
  --cmiSIZE: 18px;               /* icon size */
  --cmiGAPx: 2;                  /* gap multiplier between icon & text*/
}
